# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnpm-store/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*
*.log

# Test & Coverage
coverage/
junit.xml

# Security (Trivy)
trivy-results.sarif

# macOS / Windows
.DS_Store
Thumbs.db
*.pem

# IDEs
.vscode/
.idea/
*.swp
*.swo

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# temporary / templates
app-example
